@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');

.pointer{
    max-height: 70px;
    width: auto;
    margin: auto;
    position: relative;
    top: 0px;
    left: 0px;
}
.buttonblog{}
.fa-face-grin-tongue-squint{font-size:1.5rem;font-weight:bolder;}
.fa-brands{font-weight:400;font-size:2rem;}
.fa-instagram{ 
 font-size: 2rem;
  background: -webkit-linear-gradient(#ED008C,
#FFF000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}

.fa-tiktok{ 
 font-size: 2rem;
  background: -webkit-linear-gradient(#2C3E50,
#8B939A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}


.fa-youtube{ 
 font-size: 2rem;
  background: -webkit-linear-gradient(#B02E0C,
#EB4511);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}




.intro01{
 font-family: 'Tangerine', cursive;
    font-size: 2rem;
    position: relative;
    display: block;
    padding: 20px;
    margin: 60px auto 0px;
    color: rgb(189 225 255);
    /*letter-spacing: 4px;*/
    width: 80%;
    text-align: center;
    max-width: 500px;
    backdrop-filter: blur(7px);
    box-shadow: 1px 5px 23px 0px rgb(0 0 0 / 90%);
    background-color: rgba(0,0,0,0.5);
}

.viewblog{text-align:center;margin:auto;}

.viewmorebutton{
   font-family: 'Rampart One', cursive;
    border: 1px solid green;
    border-radius: 62px;
    margin: auto;
margin-top:10px;
Font-size:1.5rem;
    padding: 10px;
    width: 80%;
    background: rgba(60, 179, 113,0.1);
    color: darkblue;}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  background-color:black;
 margin: 0;
  color: rgba(255, 255, 255, 0.8);
}

html {
  font-family: 'Exo 2', sans-serif;
  /*font-size: 150%;*/
  /*line-height: 1.4;*/
}


.button {
  --offset: 10px;
  --border-size: 2px;
  display: block;
  position: relative;
  top:20px;
   margin:auto;
  padding: 1.5em 3em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
  color: #e55743;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
}
.button:hover {
  background: rgba(100, 0, 0, 0.03);
}
.button__horizontal, .button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}
.button__horizontal::before, .button__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
  transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
  transform: scaleY(0);
}

/*h1 {
  font-family: "Syncopate", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3vw;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
}
h1 span {
  display: block;
  font-size: 10vw;
  letter-spacing: -0.6rem;
}*/



/*------------------------------div on top of gif css-----------------------------------------------*/
.h1social{
 font-family: 'Rampart One';
    margin: 40px auto 0px;
    width: fit-content;
    color: lime;}

.sitedesc{color:white;
margin:auto;width:fit-content;}

.image{
background-color: rgba(0,0,0,0.8);
    font-family: "Exo 2", sans-serif;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(https://i.pinimg.com/originals/68/47/d4/6847d4e3179d492672fad8b33a2efee7.gif);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 100%;
    background-blend-mode: overlay;
}

/*----------------------Sweet stuff title -------------------------------------------------*/
 .linktree{
   background-color:rgba(220,220,220,0.1);
 /* border:1px solid red;*/
   max-width: 500px;
  margin: auto;
  padding: 1rem;
  align-items: center;
   justify-content: center;
   backdrop-filter: blur(2px);
 -webkit-backdrop-filter: blur(2px);
}


.header {
  max-width: 1200px;
  margin: 5rem auto;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
/*border:1px solid lime;*/
}
.sweet, .stuff{
 /* border:1px solid red;*/
   width:100%;
   font-family: 'Exo 2', sans-serif;
  display:block;
}

.sweet{margin-top:60px;}

.sweet-title {
   
 color: #fde9ff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
    6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
    6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;

  span {
    display: block;
    position: relative;

    &:before {
      content: attr(data-text);
      position: absolute;
      text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
        -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
      z-index: 1;
    }

    &:nth-child(1) {
      padding-right: 2.25rem;
    }

    &:nth-child(2) {
      padding-left: 2.25rem;
    }
  }
}
/*-------------------- a buttons ----------------------*/


a{
 font-family: 'Ruslan Display', cursive;
   position: relative;
    display: block;
    padding: 20px;
    margin: 60px auto 0px;
    color: rgb(233, 116, 81);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    width: 80%;
    text-align: center;
    max-width: 500px;
    backdrop-filter: blur(10px);
    box-shadow: 1px 5px 23px 0px rgb(8 1 1 / 40%);
    background-color: rgba(0,0,0,0.3);
}

a:hover{
    
       color: rgb(255, 172, 28);
    box-shadow: 1px 5px 23px 0px rgb(8 11 1 / 89%);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
/*a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}*/
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgba(255, 68, 51,0.2));
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgba(255, 68, 51,0.2));
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgba(255, 68, 51,0.2));
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgba(255, 68, 51,0.2));
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
